.contact {
  min-height: 400px;
  background: linear-gradient(90deg, #2c41a1, #272f84);
  color: whitesmoke;
  padding: 100px 0px;
  &__wrapper {
    width: 90%;
    margin: 0 auto;
    h3 {
      letter-spacing: 2px;
      position: relative;
      padding-left: 4rem;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 3.125rem;
        border-top: 1px solid #0dacae;
      }
    }
  }
  &__container {
    display: flex;
    h1 {
      flex-basis: 75%;
      letter-spacing: 1px;
      line-height: 1.4;
      @include mq(large) {
        font-size: 25px;
      }
    }

    button {
      position: relative;
      color: #0c0c26;
      font-weight: 600;
      border-color: #fff;
      background-color: #fff;
      border-radius: 1.5625rem;
      padding: 15px 50px;
      cursor: pointer;
      position: relative;
      span {
        display: block;
        position: absolute;
        right: 100%;
        top: 55%;
        font-size: 30px;
        transform: translate(-4.1875rem, -50%);
        transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        pointer-events: none;
        color: white;
      }
      &:hover {
        span {
          right: 70%;
          color: #0c0c26c4;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 55%;
        left: 52%;
        width: 29.25rem;
        height: 15.5rem;
        background-image: url("../media/plus.png");
        transform: translate(-50%, -50%);
        opacity: 0.15;
        pointer-events: none;
      }
    }
  }
  &__btn-container {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
