.footer {
  min-height: 400px;
  background-color: #202066;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 20px;
  color: #83b6d6;
  padding-top: 20px;
  h3 {
    color: #0dacae;
  }
  &__shortcut {
    ul {
      list-style: none;
      li {
        a {
          color: #83b6d6;
          line-height: 180%;
          text-decoration: none;
        }
      }
    }
  }
  &__company-info {
    line-height: 150%;
    div {
      display: flex;
      margin: 10px auto;
      span {
        color: #0dacae;
        font-weight: bolder;
        margin-right: 10px;
      }
    }
    .adress {
      flex-direction: column;
    }
  }
}
