.footer {
  min-height: 250px;
  background-color: #202066;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 20px;
  color: #83b6d6;
  padding-top: 20px;
  @include mq(xsmall) {
    flex-wrap: wrap;
  }
  h3 {
    color: #0dacae;
    @include mq(large) {
      font-size: 20px;
    }
    @include mq(galaxys5land) {
      font-size: 16px;
    }
    @include mq(xsmall) {
      font-size: 18px;
    }
  }
  &__shortcut {
    @include mq(xsmall) {
      flex-basis: 95%;
      text-align: center;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      li {
        a {
          color: #83b6d6;
          line-height: 180%;
          text-decoration: none;
          @include mq(large) {
            font-size: 18px;
          }
          @include mq(galaxys5land) {
            font-size: 15px;
          }
        }
      }
    }
  }
  &__company-info {
    line-height: 150%;
    @include mq(xsmall) {
      text-align: center;
    }
    div {
      display: flex;
      margin: 10px auto;
      a {
        text-decoration: none;
        color: #0dacae;
        &:visited {
          color: #0dacae;
        }
      }
      @include mq(xsmall) {
        justify-content: center;
      }
      span {
        color: #0dacae;
        font-weight: bolder;
        margin-right: 10px;
        @include mq(large) {
          font-size: 18px;
        }
        @include mq(galaxys5land) {
          font-size: 15px;
        }
      }
      p {
        @include mq(large) {
          font-size: 18px;
        }
        @include mq(galaxys5land) {
          font-size: 15px;
        }
      }
    }
    .adress {
      flex-direction: column;
    }
  }
}
