.navigation-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mq(medium) {
    justify-content: center;
  }

  .phone {
    flex-basis: 50%;
    padding-left: 50px;
    display: flex;
    align-items: center;
    color: #202066;
    letter-spacing: 1px;
    @include mq(iphone67) {
      font-size: 14px;
      padding-left: 10px;
    }
    @include mq(xsmall) {
      font-size: 20px;
      padding-left: 20px;
    }
    @include mq(ultrasmall) {
      border-right: unset;
    }
    div:nth-child(1) {
      @include mq(ultrasmall) {
        margin: 0 auto;
      }
    }
    span {
      color: #0dacae;
      padding: 5px;
    }
    &__email,
    &__working-hours {
      margin-left: 20px;
    }
    &__working-hours {
      @include mq(iphone67) {
        display: none;
      }
    }
    &__email {
      @include mq(xsmall) {
        display: none;
      }
    }
  }
}
.navigation {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
  font-size: 20px;
  flex-shrink: 1;
  flex-grow: 1;
  width: 80%;
  padding-left: 50px;
  padding-top: 10px;
  border-top: 1px solid#ddd;
  @include mq(medium) {
    position: fixed;
    top: 120px;
    left: -300px;
    flex-direction: column;
    z-index: 9999;
    background-color: white;
    width: 300px;
    line-height: 1.8;
    font-weight: bolder;
    color: #1e306e;
    padding: 20px 5px;
    transition: 0.3s;
  }
  @include mq(iphone67) {
    top: 70px;
  }
  .close-mobile-menu {
    display: none;
    @include mq(medium) {
      display: block;
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 2;
    }
  }
  li {
    padding: 10px 27px;
    color: #202066;
    position: relative;
    @include mq(xlarge) {
      padding: 10px 15px;
    }
    @include mq(large) {
      padding: 10px 12px;
      font-size: 17px;
    }
    a {
      text-decoration: none;
      transition: 0.3s;
      &:visited {
        color: #1e306e;
      }
    }
    &:hover a {
      color: #0dacae;
    }
    &:hover::after {
      content: "";
      border-radius: 50%;
      top: -10px;
      left: 50%;
      position: absolute;
      transition: opacity 0.3s;
      transform: translateX(-50%);
      background-color: #0dacae;
      width: 8px;
      height: 8px;
      margin-top: -0.21875rem;
      @include mq(medium) {
        content: unset;
      }
    }
    &:hover::before {
      content: "";
      border: 5px solid rgba(13, 172, 174, 0.2);
      width: 18px;
      height: 18px;
      margin-top: -0.53125rem;
      position: absolute;
      border-radius: 50%;
      top: -9px;
      left: 50%;
      position: absolute;
      transition: opacity 0.3s;
      transform: translateX(-50%);
      @include mq(medium) {
        content: unset;
      }
    }
  }
}
