$breakepoints: (
  ultrasmall: "max-width: 330px",
  xsmall: "max-width: 481px",
  galaxys5land: "max-width: 640px",
  iphone67: "max-width: 740px",
  small: "max-width: 865px",
  medium: "max-width: 1023px",
  large: "max-width: 1150px",
  xlarge: "max-width: 1301px",
  xxlarge: "max-width: 1440px",
);

@mixin mq($breakepoint) {
  $size: map-get($breakepoints, $breakepoint);

  @if $size {
    @media (#{$size}) {
      @content;
    }
  } @else {
    @error '"#{$breakepoint}" - nie rozpoznaje';
  }
}
